html,
body {
  font-size: 62.5%; //1rem = 10px
  padding: 0;
  margin: 0;
  box-sizing: border-box; //include width of border
  scroll-behavior: smooth;
  //background-color: lightblue;

  font-family: Arial, Helvetica, sans-serif;
  //overflow: hidden;
}

p {
  margin: 0;
}

@import "_variables.scss";

//BACKGROUND IMAGES
@mixin bg-image {
  width: 100%;
  height: 100%;

  /* display: flex;
  flex-direction: column;
  align-items: center; */
  position: absolute;
  //overflow: hidden;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  //filter: blur(2px) contrast(50%);
  //transform: scale(1.01);
  /* background: no-repeat center center fixed;
  background-size: cover; */

  z-index: -1;
}
/* .bg-image {
  @include bg-image();
} */
.bg-image-duskpowerlines {
  @include bg-image();
  background-image: url(/src/img/duskpowerlines.jpg); //JS
}
.bg-image-fieldsunset {
  @include bg-image();
  background-image: url(/src/img/fieldsunset.jpg); //JS
  background-position: center;
}
.bg-image-highsky {
  @include bg-image();
  background-image: url(/src/img/highsky.jpg); //JS
  background-position: center top;
}
.bg-image-nightbay {
  @include bg-image();
  background-image: url(/src/img/nightbay.jpg); //JS
}
.bg-image-nightcity {
  @include bg-image();
  background-image: url(/src/img/nightcity.jpg); //JS
}
.bg-image-nighttrain {
  @include bg-image();
  background-image: url(/src/img/nighttrain.jpg); //JS
  background-position: center top;
}
.bg-image-valley {
  @include bg-image();
  background-image: url(/src/img/valley.jpg); //JS
  background-position: center top;
}
.bg-image-personsunsetdew {
  @include bg-image();
  background-image: url(/src/img/personsunsetdew1edit1.jpg); //JS
}

//HEADINGS
h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}
h1 {
  font-size: 5.4rem;
  color: #56a5eb;
  margin-bottom: 5rem;
}

/* h1 > span {
  font-size: 2.4rem;
  font-weight: 500;
} */

h2 {
  font-size: 3.8rem;
  margin-bottom: 3rem;
  font-weight: 700;
}

h3 {
  font-size: 2.8rem;
  font-weight: 500;
}

.msg {
  font-size: 2rem;
}

//UTILITIES
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0;
}

.container > {
  width: 100%; //continue to center things horizontally
}

#home {
  background-color: rgba(53, 81, 92, 0.8);
  border-radius: 1rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//CHOICE BUTTONS
.btn {
  font-size: 1.8rem;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 0.1rem solid #56a5eb;
  margin-bottom: 1rem;
  text-decoration: none;
  color: #56a5eb;
  background-color: white;
}

.btn:hover {
  @include btnhover;
}

#fake-results-button {
  display: none;
}

/* .btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
} */

//ssssss
